*{
	box-sizing: 0;
	margin: 0;
	padding: 0;

	
}


header{
	background: url("cpx.png") center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
	background-attachment: fixed;

	
}



main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


}
	@media screen and (max-width:620px){
	 	main{
	 		flex-direction: column;
	 		
	 		
	 	}

	}
	@media screen and (max-width:320px){
	 	main{
	 		

	 	}

	}

.container-perfil{
	display: flex;
	justify-content: center;
	align-content:center;
	flex-direction: column;
	
}

.Perfil-foto{
 	border-radius: 50%;
 	width: 50%;
 	margin: 26%;

	

}

.container-perfil h1{
	text-align: center;
	margin-top: -20%;
}

.texto-perfil{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
	font-size: 1.60em;
}

.texto-perfil-primeiro{
	margin: 5%;
}

.texto-perfil-segundo{
	margin: 5%;
}


	@media screen and (max-width:620px){
			.container1{
				justify-content: center;
				align-items: center;
			}
		 	.container1 img {
		 		width: 80%;
		 	}
		 	.container2 p{
		 		width: 110%;
		 		padding: 10%;
		 		
		 	}

		}

		@media screen and (max-width:320px){
		 	.container1 img {
		 		width: 80%;
		 	}
		 	.container1 h1{
		 		width: 110%;
		 		text-align: center;
		 	}
		 	.container2 p{
		 		width: 100%;
		 		padding: 0;
		 	
		 	}

		}


footer{
	display: flex;
	justify-content: center;
	align-content: center;


}

.Perfil-redes-sociais{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.Perfil-redes-sociais li{
	list-style: none;

}

.Perfil-redes-sociais li img{
	width: 50%;
	border-radius: 50%;

}

.Perfil-div2{
	display: flex;
	justify-content: center;
	align-items:  center;



}

.Perfil-img-footer{
	width: 10%;
	height: 20%;

}
.Perfil-links{
	display: flex;
	justify-content: center;
	align-items:  center;
	padding: 3%;	
}

.links-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.links-container li{
	list-style: none;
	margin: 10px;
}



footer p{
	text-align: center;
	padding: 1%;
	
}


	@media screen and (max-width:620px){
			.Perfil-redes-sociais{
				padding: 23%;
			}
		 	.Perfil-redes-sociais li{
		 	 margin: 0;
		 		
		 	}
		 	.Perfil-redes-sociais li img{
				width: 50%;
				background-color: #000;


			}
			
		 	

		}
		@media screen and (max-width:320px){
		 	
		 	li img{
		 		background: #000;
		 	}
		 	

		}
}
}
