@import 'partials/variables';

#my-nav {
  background-color: transparent;
  .navbar-brand {
    color: #fff;
  }

  ul li a:hover {
    color: $primary-color;
  }
}

// Cool shadow
nav.shadow-bottom {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.09), 0 1px 0 0 rgba(0,0,0,0.07);
}

nav {
  padding: 10px;
}

// Reponsive menu button properties
.menu-icon {

  .icon-bar {
    background-color: $primary-color;
  }

}

#navbar li.active>a {
  background-color: $primary-color;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

span.icon-bar {
  background-color: white;
}

.frosty {
  font-weight: bold;
  color: $primary-color;
}

nav.navbar{
   // Animation
   transition: all 0.6s ease;
}


li a {

  &.navbar-components {
    text-align: center;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.7px;
    font-size: 13px;
    padding: 17px 15px 15px 15px !important;
    border-radius: 22px;
    text-transform: uppercase;

    &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: transparent;
      transition: 0.6s;
    }
  }

}


nav.navbar.shrink {
  padding: 5px !important;
  background-color: #fff !important;
  .navbar-brand {
    color: $dark-color !important;
  }
  .navbar-components {
    color: darken($primary-color, 25%);
    &:hover {
      color: $primary-color;
    }
  }
}

.navbar-responsive-pos {
  float: right;
}

// Cool effect on "LUCASFROSTY"

a {
  &.main-title {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    color: $dark-color;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
    }

    &::before {
      margin-right: 10px;
      content: '[';
      -moz-transform: translateX(20px);
      transform: translateX(20px);
    }

    &::after {
      margin-left: 10px;
      content: ']';
      -moz-transform: translateX(-20px);
      transform: translateX(-20px);
    }

    &::before, &::after {
      display: inline-block;
      opacity: 0;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
    }
  }
}