$primary-color: #6ba1da;
$secondary-color: #EC625F;
$primary-color-lighten: lighten($primary-color, 27%);
$dark-color: #282525;


$languages-color: $secondary-color;
$frameworks-libraries-color: $primary-color;
$others-color: #5C8D89;


$facebook-color: #3B5998;
$github-color: #24292E;
$medium-color: #65B995;
$twitter-color: #00aced;
$linkedin-color: #0073B0;


$font-poppins: "Poppins", Arial, serif;
$font-hind: 'Hind', sans-serif;
